<form action="">
  <!-- Nome -->
  <mat-form-field appearance="outline">
    <mat-label>Nome</mat-label>
    <input matInput>
  </mat-form-field>

  <!-- Email -->
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput>
  </mat-form-field>

  <!-- Età -->
  <mat-form-field appearance="outline">
    <mat-label>Età</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Bio</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</form>